{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <!-- edit form column -->
        <div class="col-lg-12 text-lg-center">
            <h2>Edit Subject</h2>
            <br>
            <br>
        </div>
            <div class="col-lg-8 push-lg-4 personal-info">
                 <form role="form" action="#" method="POST">
                     {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Name</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="name" value="{{ subject.name }}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Subject Code</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="sub_code" value="{{ subject.sub_code }}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Semester</label>
                        <div class="col-lg-9">
                            <select class="form-control align-center"  name="sem">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                            </select>
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">
                            <input type="reset" class="btn btn-secondary" value="Cancel" />
                            <input type="submit" class="btn btn-primary" value="Save Changes" id="submit" />
                        </div>
                    </div>
                </form>
            </div>
        {% if updated == True %}
            <div>
                <label class="col-lg-3 col-form-label form-control-label"><b>Details Edited Successfully.</b></label>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}