{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">View and Edit Menu</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Edit data...</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Students</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'filter_student' %}">Click to insert</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Teachers</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'view_teacher' %}">Click to insert</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Subjects</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'view_subject' %}">Click to insert</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
<!--        <div class="col-xl-3 col-md-6">-->
<!--            <div class="card bg-danger text-white mb-4">-->
<!--                <div class="card-body">Fill Attendance</div>-->
<!--                <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--                    <a class="small text-white stretched-link" href="#">View Details</a>-->
<!--                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

{% endblock %}