{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <!-- edit form column -->
        <div class="col-lg-12 text-lg-center">
            <h2>Insert Teacher</h2>
            <br>
            <br>
        </div>
            <div class="col-lg-8 push-lg-4 personal-info">
                 <form role="form" action="{% url 'insert_teacher' %}" method="POST">
                     {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Name</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="name"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Teacher ID</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="tid"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Department</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="dept"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Subjects</label>
                        <div class="col-lg-9">
<!--                            {% for s in subs %}-->
<!--                            <input type="checkbox" id="vehicle1" name="subjects" value="{{ s.sub_code }}">-->
<!--                            <label for="vehicle1">{{ s.name }}</label><br>-->
<!--                            {% endfor %}-->
                                <select multiple="multiple"  name="subjects" size="5">
                                    {% for s in subs %}
                                        <option value="{{ s.sub_code }}">{{ s.name }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">
                            <input type="reset" class="btn btn-secondary" value="Cancel" />
                            <input type="submit" class="btn btn-primary" value="Save Changes" id="submit" />
                        </div>
                    </div>
                </form>
            </div>
        {% if updated == True %}
            <div>
                <label class="col-lg-3 col-form-label form-control-label"><b>Details Inserted Successfully.</b></label>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}