{% extends 'base.html' %}
{% block content %}


<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Student Table</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Teacher ID</th>
                            <th>Department</th>
                            <th>Update/Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in teachers %}
                        <tr>
                            <td>{{  t.name  }}</td>
                            <td>{{  t.teacher_id  }}</td>
                            <td>{{  t.dept  }}</td>
                            <td><a href="{% url 'edit_teacher' t.teacher_id %}">Edit</a> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}